.header {
  position: -webkit-sticky;
  position: sticky;
}

input:-moz-placeholder-shown {
  font-style: italic;
  font-size: 16px;
  padding-left: 3%;
}

input:-ms-input-placeholder {
  font-style: italic;
  font-size: 16px;
  padding-left: 3%;
}

input:placeholder-shown {
  font-style: italic;
  font-size: 16px;
  padding-left: 3%;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.row label {
  font-size: 12px;
  font-weight: bold;
}
.row input,
.row select {
  width: 95%;
  height: 45px;
  display: flex;
  flex-wrap: wrap;
}

textarea {
  width: 100%;
  height: 90%;
  resize: none;
}

.contact-section {
  margin-top: 3%;
  color: #ddd;
  font-size: 22px;
}
.contact-section .contact-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15vh;
}
.contact-section .contact-header p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section .contact-header .p1 {
  font-style: italic;
  color: #e9c19c;
  font-size: 28px;
}
.contact-section .contact-header .p2 {
  font-weight: bolder;
  font-size: 38px;
  color: rgb(224, 224, 224);
}
.contact-section .contact-header .p3 {
  padding-top: 1.5%;
  font-size: 15px;
}
.contact-section .contact-container {
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 775px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ddd;
}
.contact-section .contact-container .map-container {
  width: 50%;
  height: 80%;
  border: 1px solid #ddd;
}
.contact-section .contact-container .contact-info {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 40%;
  height: 80%;
}
.contact-section .contact-container .contact-info div {
  width: 100%;
  height: 25%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 35%;
}
.contact-section .contact-container .contact-info .contact-social {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.contact-section .contact-container .contact-info .contact-social .fa-brands {
  font-size: 60px;
  color: #ddd;
  transition: color 300ms, font-size 300ms;
}
.contact-section .contact-container .contact-info .contact-social .fa-brands:hover {
  color: #e9ab4e;
  font-size: 90px;
}
.contact-section .contact-container .contact-info .contact-social a {
  padding: 2%;
}

.contact-form-section {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
}
.contact-form-section .contact-form-container {
  width: 70%;
  height: 1290px;
  padding: 2em;
  margin-bottom: 3%;
  border: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.25);
}
.contact-form-section .contact-form-container .contact-form-text h1 {
  font-size: 24px;
}
.contact-form-section .contact-form-container .contact-form-text p {
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 17px;
}
.contact-form-section .contact-form-container .input-area-container {
  display: flex;
  width: 100%;
  display: flex;
  padding-bottom: 5%;
}
.contact-form-section .contact-form-container .input-area-container .input-data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.contact-form-section .contact-form-container .message-container {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  width: 100%;
  height: 100%;
}
.contact-form-section .attachment-container {
  width: 30%;
  height: 100%;
  margin: 5% 0;
}
.contact-form-section .attachment-container p {
  width: 120%;
  margin-bottom: 1.5%;
  font-size: 18px;
}
.contact-form-section .attachment-container div {
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 10%;
  color: #f1bd52;
  transition: background 300ms, color 300ms;
  cursor: pointer;
}
.contact-form-section .attachment-container div p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.contact-form-section .attachment-container div input {
  display: none;
}
.contact-form-section .attachment-container div:hover {
  background: rgba(0, 0, 0, 0.4);
}
.contact-form-section .kind-of-contact-container {
  width: 100%;
  height: auto;
  padding-top: 4%;
}
.contact-form-section .kind-of-contact-container .p-above {
  font-size: 20px;
  padding-bottom: 10px;
}
.contact-form-section .kind-of-contact-container .p-below {
  padding-top: 10px;
  font-size: 14px;
  color: rgb(245, 119, 119);
}
.contact-form-section .kind-of-contact-container .checkbox-container div {
  display: flex;
}
.contact-form-section .kind-of-contact-container .checkbox-container div label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contact-form-section .kind-of-contact-container .checkbox-container div label input {
  width: 20px;
  height: 20px;
  margin: 5px;
  display: flex;
  cursor: pointer;
}
.contact-form-section .kind-of-contact-container .button-container {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.contact-form-section .kind-of-contact-container .button-container .form-btn {
  width: 350px;
  height: 45px;
  cursor: pointer;
}
.contact-form-section .kind-of-contact-container .kind-of-contact-text {
  display: flex;
  margin-top: 35px;
}
.contact-form-section .kind-of-contact-container .kind-of-contact-text div {
  padding-right: 20px;
}
.contact-form-section .kind-of-contact-container .kind-of-contact-text div i {
  font-size: 30px;
  color: white;
}/*# sourceMappingURL=contact.css.map */