*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  background-color: #724e2b;
}

a {
  text-decoration: none;
}

#about,
#menu,
#contact,
#members {
  scroll-margin-top: 100px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.bcg-img {
  width: 100%;
  height: 100%;
  background-image: url("../img/img_bcg.png");
  background-repeat: space;
}

.logo {
  width: 20%;
  font-size: 5rem;
  margin-top: 0.7rem;
}
.logo a {
  padding: 0 2rem;
  font-family: "Caveat", cursive;
  font-weight: normal;
  text-transform: lowercase;
  color: rgb(241, 189, 82);
}

.logo::first-letter {
  text-transform: uppercase;
}

.header {
  max-width: 100%;
  max-height: 100vh;
  width: 100%;
}
.header__video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0.4px solid rgb(236, 237, 238);
  border-top: none;
}
.header__img {
  display: none;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}
.header__text-container {
  margin-left: 20rem;
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header__heading {
  font-family: "Caveat", cursive;
  font-size: 10rem;
  color: #f1bd52;
}
.header__text {
  padding: 2.2rem 0;
  width: 60%;
  font-size: 2.4rem;
  color: white;
}
.header__text:nth-of-type(2) {
  padding-bottom: 0;
}
.header__links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__link {
  padding: 1.5rem 3rem;
  margin: 4rem 2rem;
  margin-left: 0;
  height: 6rem;
  border: 1px solid black;
  background-color: #724e2b;
  color: rgb(236, 237, 238);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 1rem;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.header__link:nth-child(1) {
  background-color: red;
  color: rgb(236, 237, 238);
}
.header__link:hover {
  color: #724e2b;
  background-color: #ddd;
}

.slider {
  margin-top: 10rem;
  margin-bottom: 10rem;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.4);
}
.slider__heading {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat", cursive;
  font-size: 5rem;
  color: white;
}
.slider__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3.5rem;
  min-height: 50vh;
  position: relative;
}
.slider i {
  top: 50%;
  height: 4.6rem;
  width: 4.6rem;
  position: absolute;
  line-height: 4.6rem;
  text-align: center;
  font-size: 2.2rem;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}
.slider i:first-child {
  left: -2.3rem;
}
.slider i:last-child {
  right: -2.3rem;
}
.slider__slides {
  font-size: 0;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.slider__slides img {
  height: 34rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 1.4rem;
  border-radius: 8rem;
  width: 33.3333333333%;
}
.slider__slides img:first-child {
  margin-left: 0;
}
.slider__slides.dragging {
  cursor: -webkit-grab;
  cursor: grab;
  scroll-behavior: auto;
}
.slider__slides.dragging img {
  pointer-events: none;
}

.opinion {
  margin-top: 10rem;
  margin-bottom: 10rem;
  color: rgb(236, 237, 238);
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.4);
}
.opinion__heading {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat", cursive;
  font-size: 7rem;
  color: white;
}
.opinion__clients-list {
  margin-top: auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.opinion__client-rating {
  width: 420px;
  height: 70%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  padding: 50px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #bfa182;
  border-radius: 2.5rem;
}
.opinion__stars {
  margin: 0px 0px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
}
.opinion__testimonials {
  margin: 0px 0px 12px;
  font-size: 1.875rem;
}
.opinion__line {
  border-top: 1px solid rgb(236, 237, 238);
  margin: 22px 0px 0px;
  padding: 22px 0px 0px;
}
.opinion__testimonials-author {
  color: rgba(0, 0, 0, 0.6);
  color: #bfa182;
}
.opinion__annotation {
  height: 30%;
  padding: 30px 0px;
}
.opinion__annotation .author {
  color: rgba(0, 0, 0, 0.6);
  color: #bfa182;
}
.opinion h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat", cursive;
  font-size: 4rem;
  color: white;
}

.form {
  min-width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 2rem 15rem 5rem 15rem;
  width: auto;
  height: auto;
  border: 1px solid #bfa182;
  border-radius: 2.5rem;
}
.form .fa-star {
  cursor: pointer;
}
.form .highlight {
  color: #facd19;
}
.form__input-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 100%;
}
.form__input-container input,
.form__input-container textarea {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1.5rem;
}
.form__input-container label {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  font-style: italic;
}
.form__stars {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.form__stars i {
  font-size: 3rem;
}
.form__opinion textarea {
  height: 16rem;
  resize: none;
}
.form__btn {
  position: relative;
  width: 18rem;
  height: 6rem;
  padding: 2rem 4rem;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: 1px solid black;
  background-color: #724e2b;
  color: rgb(236, 237, 238);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 1rem;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.form__btn:hover {
  color: #724e2b;
  background-color: #ddd;
}

.about {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.4);
  color: #ddd;
}
.about__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-left: 3rem;
  padding-top: 3rem;
}
.about__top-text {
  color: #e9c19c;
  font-size: 2.8rem;
}
.about__middle-text {
  font-weight: bold;
  font-size: 3.8rem;
}
.about__description {
  display: flex;
  padding: 2rem;
  width: 100%;
}
.about__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 55%;
  height: 100%;
  padding-left: 2rem;
}
.about__text-container p {
  padding: 2rem;
  padding-left: 0rem;
  font-size: 2rem;
}
.about__read-more-btn {
  padding-top: 2rem;
}
.about__read-more-btn .btn {
  padding: 1.5rem 3rem;
  margin-left: 0;
  height: 6rem;
  border: 1px solid black;
  background-color: #724e2b;
  color: rgb(236, 237, 238);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 1rem;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.about__read-more-btn .btn:hover {
  color: #724e2b;
  background-color: rgb(236, 237, 238);
}
.about__photo {
  width: 45%;
  height: 100%;
}
.about__photo img {
  width: 80%;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #b89b7e;
    border: 1px solid white;
  }
  .nav-desktop__item {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding: 0 0.8em;
    font-size: 1.8rem;
  }
  .nav-desktop__logo {
    font-size: 6rem;
    font-family: "Caveat", cursive;
    font-weight: normal;
    text-transform: lowercase;
    color: rgb(241, 189, 82);
  }
  .nav-desktop__logo::first-letter {
    text-transform: uppercase;
  }
  .nav-desktop__anchors {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-desktop__item {
    transition: color 0.1s;
  }
  .nav-desktop__item:hover {
    color: #ffcc80;
    color: #f1bd52;
  }
  .opinion__client-rating {
    background: none;
  }
}
@media (max-width: 767px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #b89b7e;
    border: 1px solid white;
  }
  .nav-mobile__item {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    z-index: 1001;
  }
  .nav-mobile .logo {
    position: absolute;
    right: 12rem;
  }
  .nav-mobile .burger-icon {
    padding: 10px 20px;
    transition: transform 0.3s;
  }
  .nav-mobile__anchors {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: transform 0.3s;
  }
  .nav-mobile .burger-icon {
    font-size: 5rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  nav div ul {
    padding-top: 50px;
    position: absolute;
    height: 100vh;
    width: 250px;
    left: -251px;
    list-style: none;
    background-color: #ffcc80;
    border: 1px solid white;
    border-top: none;
    transition: transform 0.3s;
    z-index: 11000;
  }
  nav ul li a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
  }
  li {
    padding: 3rem;
  }
  .active-menu {
    transform: translateX(249px);
  }
  .hide {
    display: none;
  }
  .header__video {
    display: none;
  }
  .header__img {
    display: block;
    border: 0.4px solid white;
  }
  .header__text-container {
    width: 38rem;
    margin-left: 2rem;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.6);
    border: 0.4px solid white;
  }
  .header__heading {
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 3.75rem;
  }
  .header__text {
    width: 90%;
    margin-left: 2rem;
    padding: 1rem 0;
    font-size: 2.2rem;
  }
  .header__link {
    margin: 2rem 0;
    margin-left: 2rem;
  }
  .slider {
    border: none;
    background: none;
  }
  .slider__slides img {
    width: 50%;
  }
  .slider i:first-child {
    left: 0;
  }
  .slider i:last-child {
    right: 0;
  }
  .opinion {
    margin-top: 2rem;
    border: none;
    background: none;
  }
  .opinion__heading {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Caveat", cursive;
    font-size: 6.5rem;
    color: white;
  }
  .opinion__client-rating {
    background: rgba(0, 0, 0, 0.3);
  }
  .form {
    margin: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  .about__text-container {
    padding: 2rem;
    width: 100%;
    height: 100%;
  }
  .about__photo {
    display: none;
  }
}
@media (max-width: 550px) {
  .slider__slides img {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */