*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  background-color: #724e2b;
}

a {
  text-decoration: none;
}

#about,
#menu,
#contact,
#members {
  scroll-margin-top: 100px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.bcg-img {
  width: 100%;
  height: 100%;
  background-image: url("../img/img_bcg.png");
  background-repeat: space;
}

.logo {
  width: 20%;
  font-size: 5rem;
  margin-top: 0.7rem;
}
.logo a {
  padding: 0 2rem;
  font-family: "Caveat", cursive;
  font-weight: normal;
  text-transform: lowercase;
  color: rgb(241, 189, 82);
}

.logo::first-letter {
  text-transform: uppercase;
}

.header {
  max-width: 100%;
  max-height: 100vh;
  width: 100%;
}
.header__video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0.4px solid rgb(236, 237, 238);
  border-top: none;
}
.header__img {
  display: none;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}
.header__text-container {
  margin-left: 12.5rem;
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header__heading {
  font-family: "Caveat", cursive;
  font-size: 10rem;
  color: #f1bd52;
}
.header__text {
  padding: 2.2rem 0;
  width: 60%;
  font-size: 2.4rem;
  color: white;
}
.header__text:nth-of-type(2) {
  padding-bottom: 0;
}
.header__links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__link {
  padding: 1.5rem 3rem;
  margin: 4rem 2rem;
  margin-left: 0;
  height: 6rem;
  border: 1px solid black;
  background-color: #724e2b;
  color: rgb(236, 237, 238);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 1rem;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.header__link:nth-child(1) {
  background-color: red;
  color: rgb(236, 237, 238);
}
.header__link:hover {
  color: #724e2b;
  background-color: #ddd;
}

.slider {
  margin-top: 10rem;
  margin-bottom: 10rem;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.4);
}
.slider__heading {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat", cursive;
  font-size: 5rem;
  color: white;
}
.slider__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3.5rem;
  min-height: 50vh;
  position: relative;
}
.slider i {
  top: 50%;
  height: 4.6rem;
  width: 4.6rem;
  position: absolute;
  line-height: 4.6rem;
  text-align: center;
  font-size: 2.2rem;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}
.slider i:first-child {
  left: 0;
}
.slider i:last-child {
  right: 0;
}
.slider__slides {
  font-size: 0;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.slider__slides img {
  height: 34rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 1.4rem;
  border-radius: 8rem;
  width: 33.3333333333%;
}
.slider__slides img:first-child {
  margin-left: 0;
}
.slider__slides.dragging {
  cursor: -webkit-grab;
  cursor: grab;
  scroll-behavior: auto;
}
.slider__slides.dragging img {
  pointer-events: none;
}

.opinion {
  margin-top: 10rem;
  margin-bottom: 10rem;
  color: rgb(236, 237, 238);
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.4);
}
.opinion__heading {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat", cursive;
  font-size: 7rem;
  color: white;
}
.opinion__clients-list {
  margin-top: auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.opinion__client-rating {
  width: 420px;
  height: 70%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  padding: 50px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #bfa182;
  border-radius: 2.5rem;
}
.opinion__stars {
  margin: 0px 0px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
}
.opinion__testimonials {
  margin: 0px 0px 12px;
  font-size: 1.875rem;
}
.opinion__line {
  border-top: 1px solid rgb(236, 237, 238);
  margin: 22px 0px 0px;
  padding: 22px 0px 0px;
}
.opinion__testimonials-author {
  color: rgba(0, 0, 0, 0.6);
  color: #bfa182;
}
.opinion__annotation {
  height: 30%;
  padding: 30px 0px;
}
.opinion__annotation .author {
  color: rgba(0, 0, 0, 0.6);
  color: #bfa182;
}
.opinion h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat", cursive;
  font-size: 4rem;
  color: white;
}
.opinion .form {
  min-width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 2rem 15rem 5rem 15rem;
  width: auto;
  height: auto;
  border: 1px solid #bfa182;
  border-radius: 2.5rem;
}
.opinion .form .fa-star {
  cursor: pointer;
}
.opinion .form .highlight {
  color: #facd19;
}
.opinion .form__input-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 100%;
}
.opinion .form__input-container input,
.opinion .form__input-container textarea {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1.5rem;
}
.opinion .form__input-container label {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  font-style: italic;
}
.opinion .form__stars {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.opinion .form__stars i {
  font-size: 3rem;
}
.opinion .form__opinion textarea {
  height: 16rem;
  resize: none;
}
.opinion .form__btn {
  position: relative;
  width: 18rem;
  height: 6rem;
  padding: 2rem 4rem;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: 1px solid black;
  background-color: #724e2b;
  color: rgb(236, 237, 238);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 1rem;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.opinion .form__btn:hover {
  color: #724e2b;
  background-color: #ddd;
}

.about {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.4);
  color: #ddd;
}
.about__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-left: 3rem;
  padding-top: 3rem;
}
.about h2 {
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 6rem;
}
.about__description {
  display: flex;
  padding: 2rem;
  padding-left: 4rem;
  width: 100%;
}
.about__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  padding-left: 2rem;
}
.about__text-container p {
  padding: 2rem;
  padding-left: 0rem;
  font-size: 2rem;
}
.about__read-more-btn {
  padding-top: 2rem;
  margin-bottom: 1.5rem;
}
.about__read-more-btn .btn {
  padding: 1.5rem 3rem;
  margin-left: 0;
  height: 6rem;
  border: 1px solid black;
  background-color: #724e2b;
  color: rgb(236, 237, 238);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 1rem;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.about__read-more-btn .btn:hover {
  color: #724e2b;
  background-color: rgb(236, 237, 238);
}
.about__photo {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  height: 100%;
}
.about__photo img {
  width: 88%;
  border-radius: 50%;
}

.info {
  margin-top: 10rem;
  margin-bottom: 10rem;
  border: 0.5px solid white;
  color: white;
  background: rgba(0, 0, 0, 0.4);
}
.info__short {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.info__element {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.info__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.info__text {
  text-align: center;
}

.members {
  margin-top: 10rem;
  margin-bottom: 10rem;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.members__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 3rem;
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 6rem;
  color: rgb(236, 237, 238);
}
.members__member {
  margin: 2rem;
  margin-bottom: 5rem;
  width: 100%;
  width: 46%;
  border: 1px solid #bfa182;
  border-radius: 2rem;
}
.members__member p {
  color: white;
  padding: 2rem;
}
.members__member img {
  border-bottom: 1px solid #bfa182;
  width: 100%;
  height: 80%;
  border-radius: 2rem;
}

.fa-leaf {
  color: rgb(28, 238, 28);
}

.fa-pepper-hot {
  color: rgb(230, 36, 36);
}

.fa-fish {
  color: rgb(83, 124, 245);
}

.menu {
  margin-top: 10rem;
  margin-bottom: 10rem;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.4);
}
.menu .shopping-cart {
  padding: 2rem 1rem;
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  width: 16rem;
  height: 6.5rem;
  color: rgb(236, 237, 238);
  background-color: #724e2b;
  border: 1px solid rgb(236, 237, 238);
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  z-index: 1;
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.1s;
}
.menu .shopping-cart .counter-container {
  width: 3.5rem;
  height: 3.5rem;
  top: -1rem;
  right: -1rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #724e2b;
  border: 1px solid rgb(236, 237, 238);
  border-radius: 50%;
}
.menu .shopping-cart .counter {
  text-transform: lowercase;
  font-weight: normal;
  font-size: 2rem;
  color: #ffcc80;
}
.menu .shopping-cart:hover {
  border: 1px solid rgb(236, 237, 238);
  background-color: #ffcc80;
  color: #724e2b;
}
.menu .modal {
  position: fixed;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  top: 0;
  top: -600px;
  left: 50%;
  width: 500px;
  height: auto;
  background-color: white;
  border: 1px solid black;
  z-index: 101;
  transition: top 0.8s;
  transform: translateX(-50%);
  background-color: #836445;
  color: white;
}
.menu .show-modal {
  top: 150px;
}
.menu .close-btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu .close-btn {
  position: relative;
  right: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
  transition: 0.3s;
}
.menu .products-list .product-name {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ddd;
}
.menu .close-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu .el-name {
  font-weight: bold;
  font-size: 3.5rem;
  color: #ddd;
}
.menu .line {
  width: 100%;
  border-top: 1px solid rgb(236, 237, 238);
  margin: 22px 0px 0px;
  padding: 22px 0px 0px;
}
.menu .category-name {
  padding: 1rem 0;
  font-size: 2.2rem;
  font-weight: bold;
}
.menu .inputs {
  display: flex;
  margin: 2rem 0;
}
.menu .inputs input {
  margin: 0 1rem;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}
.menu .inputs input:first-of-type {
  margin-left: 0;
}
.menu .last {
  margin-bottom: 2rem;
}
.menu .add-item-btn-container {
  display: flex;
  justify-content: flex-end;
}
.menu .btn {
  min-width: 17.7rem;
  min-height: 5rem;
  max-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background-color: #724e2b;
  color: rgb(236, 237, 238);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 1rem;
  font-size: 1.4rem;
  transition: color 0.1s, background-color 0.1s;
  cursor: pointer;
}
.menu .btn:hover {
  color: #724e2b;
  background-color: #ddd;
}
.menu .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}
.menu__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: "Caveat", cursive;
  font-size: 6rem;
  color: rgb(236, 237, 238);
}
.menu__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4rem 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #bfa182;
  border-radius: 5rem;
}
.menu__list a {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Caveat", cursive;
  color: rgb(236, 237, 238);
  transition: color 300ms;
  cursor: pointer;
}
.menu__list a:hover {
  color: #f1bd52;
}
.menu .element {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.menu .element__list {
  margin: 2rem;
  border-bottom: 1px solid #bfa182;
  border-radius: 2rem;
  height: 10%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
}
.menu .element__list:last-child {
  margin-bottom: 5rem;
}
.menu .element__name {
  width: 50rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.menu .element__name p {
  font-weight: bold;
  font-size: 2.5rem;
  color: #ddd;
}
.menu .element__components p {
  width: 100%;
  padding-top: 10px;
  font-size: 18px;
  font-weight: normal;
  color: #e9c19c;
}
.menu .element__prices {
  height: auto;
  display: flex;
  align-items: center;
}
.menu .element__prices p {
  padding: 1rem;
  font-size: 2rem;
  color: #ddd;
}
.menu .element__btn {
  min-width: 17.7rem;
  min-height: 5rem;
  max-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background-color: #724e2b;
  color: rgb(236, 237, 238);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 1rem;
  font-size: 1.4rem;
  transition: color 0.1s, background-color 0.1s;
  cursor: pointer;
}
.menu .element__btn:hover {
  color: #724e2b;
  background-color: #ddd;
}
.menu .drinks__prices {
  flex-direction: column;
}
.menu .not-visible {
  display: none;
}

.contact {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgb(236, 237, 238);
}
.contact__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(236, 237, 238);
  font-family: "Caveat", cursive;
  font-size: 6rem;
}
.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contact__map {
  margin: 5rem;
  width: 100%;
  height: 80vh;
}
.contact__info {
  margin-left: 0;
  margin: 5rem;
  width: 100%;
}
.contact__info-el {
  margin: 5rem 0;
  padding: 1.5rem 3rem;
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #bfa182;
  border-radius: 5rem;
  font-size: 2rem;
}
.contact__info-el p {
  color: rgb(236, 237, 238);
}
.contact__info-social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contact__info-social a {
  font-size: 5rem;
  color: rgb(236, 237, 238);
  transition: color 0.1s;
}
.contact__info-social a:hover {
  color: #ffcc80;
}

.form {
  position: relative;
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(236, 237, 238);
}
.form__container {
  max-width: 70rem;
  padding: 2em;
  border: 1px solid rgb(236, 237, 238);
  background: rgba(0, 0, 0, 0.4);
}
.form__heading {
  text-align: center;
  font-family: "Caveat", cursive;
  text-transform: lowercase;
  font-size: 6rem;
}
.form__heading::first-letter {
  text-transform: uppercase;
}
.form__text {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.7rem;
}
.form__inputs-textarea-container {
  width: 100%;
  display: flex;
  padding-bottom: 2rem;
}
.form__inputs {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.form__textarea {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.form__textarea span {
  color: #f1bd52;
}
.form .popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -250px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #866545;
  width: 60rem;
  height: 20rem;
  border: 0.8rem;
  border: 2px solid black;
  border-radius: 1rem;
  transition: top 0.5s;
}
.form .popup p {
  font-size: 2.5rem;
}
.form .popup button {
  margin-top: 5rem;
  min-width: 17.7rem;
  min-height: 5rem;
  max-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background-color: #724e2b;
  color: rgb(236, 237, 238);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 1rem;
  font-size: 1.4rem;
  transition: color 0.1s, background-color 0.1s;
  cursor: pointer;
}
.form .popup button:hover {
  color: #724e2b;
  background-color: #ddd;
}
.form .show-popup {
  top: 250px;
}
.form .form__textarea.row {
  align-items: stretch;
}
.form .row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form .row .label {
  font-size: 1.2rem;
  min-width: 30rem;
  width: 100%;
  font-weight: bold;
}
.form .row .input,
.form .row .select {
  padding: 1rem;
  width: 100%;
  min-width: 30rem;
  height: 45px;
  border-radius: 0.5rem;
}
.form textarea {
  padding: 1rem;
  resize: none;
  border-radius: 0.5rem;
}
.form .row.error input,
.form .new-el.error input,
.form .row.error select,
.form .form__textarea.error textarea {
  border: 1px solid rgb(237, 34, 34);
}
.form .row .error-text,
.form .new-el .error-text,
.form .form__textarea .error-text,
.form .form__contact-checkbox--container .error-text {
  margin-top: 0.3rem;
  font-size: 1.3rem;
  font-style: italic;
  color: rgb(245, 119, 119);
  visibility: hidden;
}
.form .row.error .error-text,
.form .new-el.error .error-text,
.form .form__textarea.error .error-text,
.form .form__contact-checkbox--container.error .error-text {
  visibility: visible;
}
.form__attachment {
  width: 100%;
  height: 100%;
  margin: 5% 0;
}
.form__attachment p {
  padding-bottom: 1rem;
  font-size: 1.8rem;
}
.form__attachment div {
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 2rem;
  color: #f1bd52;
  transition: background 0.1s, color 0.1s;
  cursor: pointer;
}
.form__attachment div p {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.form__attachment div input {
  display: none;
}
.form__attachment div:hover {
  background: rgba(0, 0, 0, 0.4);
}
.form__contact {
  width: 100%;
  height: auto;
  padding-top: 4%;
}
.form__contact .p-above {
  font-size: 20px;
  padding-bottom: 10px;
}
.form__contact-checkbox--container .old-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.form__contact-checkbox--container .new-phone,
.form__contact-checkbox--container .new-email {
  display: none;
  margin-left: 3rem;
  width: 50%;
}
.form__contact-checkbox--container .show-container {
  display: block;
}
.form__contact-checkbox--container .old-input {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  cursor: pointer;
}
.form__contact-checkbox--container .new-label {
  min-width: 30rem;
  width: 100%;
  text-transform: uppercase;
  padding-left: 0.3rem;
  font-size: 1.05rem;
  font-weight: bold;
}
.form__contact-checkbox--container .new-input {
  padding: 1rem;
  width: 100%;
  min-width: 30rem;
  height: 45px;
  border-radius: 0.5rem;
}
.form__btn {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.form__btn-inside {
  position: relative;
  width: 32rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid black;
  background-color: #724e2b;
  color: rgb(236, 237, 238);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 1rem;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.form__btn-inside:hover {
  background-color: rgb(236, 237, 238);
  color: #724e2b;
}
.form__text-below {
  display: flex;
  margin-top: 35px;
}
.form__text-below div {
  padding-right: 20px;
}
.form__text-below div i {
  font-size: 30px;
  color: white;
}

input:-moz-placeholder-shown {
  font-style: italic;
  font-size: 1.6rem;
  padding-left: 1rem;
}

input:-ms-input-placeholder {
  font-style: italic;
  font-size: 1.6rem;
  padding-left: 1rem;
}

input:placeholder-shown {
  font-style: italic;
  font-size: 1.6rem;
  padding-left: 1rem;
}

.footer {
  width: 100%;
  height: 45rem;
  border: 1px solid rgb(236, 237, 238);
  background-color: #b89b7e;
}
.footer__main {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  color: rgb(45, 42, 37);
  font-weight: bolder;
}
.footer__element {
  display: flex;
  padding: 0 1.4rem;
  margin-bottom: 3.2rem;
  font-size: 1.6rem;
}
.footer__logo {
  font-size: 7rem;
  font-family: "Caveat", cursive;
  font-weight: normal;
  color: rgb(241, 189, 82);
}
.footer__contact {
  flex-direction: column;
}
.footer__contact p:nth-of-type(2) {
  margin-bottom: 1rem;
  margin-left: 0;
}
.footer__social {
  flex-direction: column;
}
.footer__social a {
  font-size: 5rem;
  color: rgb(236, 237, 238);
  transition: color 0.1s;
}
.footer__social a:hover {
  color: #ffcc80;
}
.footer__social div a {
  margin: 0.5rem;
}
.footer__payment {
  flex-direction: column;
}
.footer__payment p {
  margin-bottom: 2rem;
}
.footer__btn {
  width: 100%;
  height: 4.5rem;
  padding: 2rem 4rem;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: 1px solid black;
  background-color: #724e2b;
  color: rgb(236, 237, 238);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 1rem;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.footer__btn:hover {
  background-color: rgb(236, 237, 238);
  color: #724e2b;
}
.footer__small {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  border-top: 1px solid rgb(236, 237, 238);
}

@media (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #b89b7e;
    border: 1px solid white;
  }
  .nav-desktop__item {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding: 0 0.8em;
    font-size: 1.8rem;
  }
  .nav-desktop__logo {
    font-size: 6rem;
    font-family: "Caveat", cursive;
    font-weight: normal;
    text-transform: lowercase;
    color: rgb(241, 189, 82);
  }
  .nav-desktop__logo::first-letter {
    text-transform: uppercase;
  }
  .nav-desktop__anchors {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-desktop__item {
    transition: color 0.1s;
  }
  .nav-desktop__item:hover {
    color: #f1bd52;
  }
  .opinion__client-rating {
    background: none;
  }
}
@media (max-width: 767px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #b89b7e;
    border: 1px solid white;
  }
  .nav-mobile__item {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    z-index: 1001;
  }
  .nav-mobile .logo {
    position: absolute;
    right: 12rem;
  }
  .nav-mobile .burger-icon {
    padding: 10px 20px;
    transition: transform 0.3s;
  }
  .nav-mobile__anchors {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: transform 0.3s;
  }
  .nav-mobile .burger-icon {
    font-size: 5rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  nav div ul {
    padding-top: 50px;
    position: absolute;
    height: 100vh;
    width: 250px;
    left: -251px;
    list-style: none;
    background-color: #ffcc80;
    border: 1px solid white;
    border-top: none;
    transition: transform 0.3s;
    z-index: 11000;
  }
  nav ul li a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
  }
  li {
    padding: 3rem;
  }
  .active-menu {
    transform: translateX(249px);
  }
  .hide {
    display: none;
  }
  .header__video {
    display: none;
  }
  .header__img {
    display: block;
    border: 0.4px solid white;
  }
  .header__text-container {
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.6);
    border: 0.4px solid white;
  }
  .header__heading {
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 3.75rem;
  }
  .header__text {
    width: 90%;
    margin-left: 2rem;
    padding: 1rem 0;
    font-size: 2.2rem;
  }
  .header__link {
    margin: 2rem 0;
    margin-left: 1rem;
  }
  .header__link:nth-child(2) {
    margin-right: 5rem;
  }
  .slider {
    width: 90%;
    border: none;
    background: none;
  }
  .slider__slides img {
    width: 50%;
  }
  .slider i:first-child {
    left: 0;
  }
  .slider i:last-child {
    right: 0;
  }
  .opinion {
    width: 90%;
    margin-top: 2rem;
    border: none;
    background: none;
  }
  .opinion__heading {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Caveat", cursive;
    font-size: 6.5rem;
    color: white;
  }
  .opinion__client-rating {
    background: rgba(0, 0, 0, 0.3);
  }
  .opinion .form {
    margin: 0;
    background: rgba(0, 0, 0, 0.4);
    margin: 0;
  }
  .about {
    width: 90%;
  }
  .about__text-container {
    padding: 2rem;
    width: 100%;
    height: 100%;
  }
  .about__photo {
    display: none;
  }
  .info {
    width: 90%;
  }
  .info__short {
    grid-template-columns: repeat(1, 1fr);
  }
  .members {
    width: 90%;
  }
  .members__member {
    width: 100%;
  }
  .menu {
    width: 90%;
  }
  .menu__list a {
    font-size: 3.2rem;
  }
  .menu .element__prices {
    display: none;
  }
  .menu .element__btn {
    padding: 0.5rem 1rem;
    height: 5.5rem;
  }
  .contact {
    width: 90%;
  }
  .contact__container {
    flex-direction: column;
  }
  .contact__map {
    margin-top: 2.5rem;
    width: 80%;
    height: 80vh;
  }
  .contact__info {
    margin: 0rem;
    width: 80%;
  }
  .form__container {
    max-width: 39rem;
  }
  .form__inputs-textarea-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .form__inputs {
    padding: 0rem;
  }
  .form__textarea {
    padding: 0rem;
  }
  .form .row {
    margin-bottom: 2.5rem;
  }
  .form .row label {
    margin-bottom: 0.5rem;
  }
  .footer {
    height: auto;
  }
  .footer__main {
    align-items: flex-start;
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .slider__slides img {
    width: 100%;
  }
  .header__text-container {
    min-width: 30rem;
  }
  .menu {
    min-width: 100vw;
  }
  .menu__btn {
    min-width: 17.7rem;
    min-height: 5rem;
    max-height: 5rem;
    min-width: none;
    min-height: none;
    max-height: none;
  }
}/*# sourceMappingURL=main.css.map */