$brown: #724e2b;
$popup: #866545;
$popup2: #836445;
$white: rgb(236, 237, 238);
$cocoa: #BFA182;
$skin: #e9c19c;
$creamy: #ffcc80;
$special-cream: #f1bd52;
$border-color: #bfa182;
$error: rgb(245, 119, 119);