@import "./colors";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  background-color: $brown;
  // overflow-x: hidden;
}

a {
  text-decoration: none;
}

#about,
#menu,
#contact,
#members {
  scroll-margin-top: 100px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.bcg-img {
  width: 100%;
  height: 100%;
  background-image: url("../img/img_bcg.png");
  background-repeat: space;
}

.logo {
  width: 20%;
  font-size: 5rem;
  margin-top: 0.7rem;

  a {
    padding: 0 2rem;
    font-family: "Caveat", cursive;
    font-weight: normal;
    text-transform: lowercase;
    color: rgb(241, 189, 82);
  }
}

.logo::first-letter {
  text-transform: uppercase;
}

.header {
  max-width: 100%;
  max-height: 100vh;
  width: 100%;

  &__video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border: 0.4px solid $white;
    border-top: none;
  }

  &__img {
    display: none;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
  }

  &__text-container {
    margin-left: 12.5rem;
    margin-top: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__heading {
    font-family: "Caveat", cursive;
    font-size: 10rem;
    color: #f1bd52;
  }

  &__text {
    padding: 2.2rem 0;
    width: 60%;
    font-size: 2.4rem;
    color: white;
  }

  &__text:nth-of-type(2) {
    padding-bottom: 0;
  }

  &__links {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__link {
    padding: 1.5rem 3rem;
    margin: 4rem 2rem;
    margin-left: 0;
    height: 6rem;
    border: 1px solid black;
    background-color: $brown;
    color: $white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 1rem;
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
  }

  &__link:nth-child(1) {
    background-color: red;
    color: $white;
  }

  &__link:hover {
    color: #724e2b;
    background-color: #ddd;
  }
}

.slider {
  margin-top: 10rem;
  margin-bottom: 10rem;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.4);

  &__heading {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Caveat", cursive;
    font-size: 5rem;
    color: white;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3.5rem;
    min-height: 50vh;
    position: relative;
  }

  i {
    top: 50%;
    height: 4.6rem;
    width: 4.6rem;
    position: absolute;
    line-height: 4.6rem;
    text-align: center;
    font-size: 2.2rem;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
  }

  i:first-child {
    left: 0;
  }

  i:last-child {
    right: 0;
  }

  &__slides {
    font-size: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;

    img {
      height: 34rem;
      object-fit: cover;
      margin-left: 1.4rem;
      border-radius: 8rem;
      width: calc(100% / 3);
    }

    img:first-child {
      margin-left: 0;
    }
  }

  &__slides.dragging {
    cursor: grab;
    scroll-behavior: auto;

    img {
      pointer-events: none;
    }
  }

}

.opinion {
  margin-top: 10rem;
  margin-bottom: 10rem;
  // padding: 10rem;
  color: rgb(236, 237, 238);
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.4);

  &__heading {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Caveat", cursive;
    font-size: 7rem;
    color: white;
  }

  &__clients-list {
    margin-top: auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__client-rating {
    width: 420px;
    height: 70%;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    padding: 50px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid $border-color;
    border-radius: 2.5rem;
  }

  &__stars {
    margin: 0px 0px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
  }

  &__testimonials {
    margin: 0px 0px 12px;
    font-size: 1.875rem;
  }

  &__line {
    border-top: 1px solid rgb(236, 237, 238);
    margin: 22px 0px 0px;
    padding: 22px 0px 0px;
  }

  &__testimonials-author {
    color: rgba(0, 0, 0, 0.6);
    color: #bfa182;
  }

  &__annotation {
    height: 30%;
    padding: 30px 0px;

    .author {
      color: rgba(0, 0, 0, 0.6);
      color: #bfa182;
    }
  }

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Caveat", cursive;
    font-size: 4rem;
    color: white;
  }

  .form {
    min-width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 2rem 15rem 5rem 15rem;
    width: auto;
    height: auto;
    border: 1px solid $border-color;
    border-radius: 2.5rem;

    .fa-star {
      cursor: pointer;
    }

    .highlight {
      color: #facd19;
    }

    &__input-container {
      display: flex;
      flex-direction: column;
      margin: 10px;
      padding: 10px;
      width: 100%;

      input,
      textarea {
        width: 100%;
        height: 5rem;
        padding: 1rem;
        font-size: 2rem;
        border-radius: 1.5rem;
      }


      label {
        font-size: 2.3rem;
        margin-bottom: 1rem;
        font-style: italic;
      }
    }

    &__stars {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      i {
        font-size: 3rem;
      }
    }

    &__opinion {
      textarea {
        height: 16rem;
        resize: none;
      }
    }

    &__btn {
      position: relative;
      width: 18rem;
      height: 6rem;
      padding: 2rem 4rem;
      margin-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      border: 1px solid black;
      background-color: $brown;
      color: $white;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 1rem;
      transition: color 0.3s, background-color 0.3s;
      cursor: pointer;
    }

    &__btn:hover {
      color: #724e2b;
      background-color: #ddd;
    }

  }
}

.about {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.4);
  color: #ddd;

  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-left: 3rem;
    padding-top: 3rem;
  }

  h2 {
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 6rem;
  }

  &__description {
    display: flex;
    padding: 2rem;
    padding-left: 4rem;
    width: 100%;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    padding-left: 2rem;

    p {
      padding: 2rem;
      padding-left: 0rem;
      font-size: 2rem;
    }
  }

  &__read-more-btn {
    padding-top: 2rem;
    margin-bottom: 1.5rem;

    .btn {
      padding: 1.5rem 3rem;
      margin-left: 0;
      height: 6rem;
      border: 1px solid black;
      background-color: $brown;
      color: $white;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      border-radius: 1rem;
      transition: color 0.3s, background-color 0.3s;
      cursor: pointer;
    }

    .btn:hover {
      color: $brown;
      background-color: $white;
    }
  }

  &__photo {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    height: 100%;

    img {
      width: 88%;
      border-radius: 50%;
    }
  }
}

.info {
  margin-top: 10rem;
  margin-bottom: 10rem;
  // padding: 1.5rem 3rem;
  border: 0.5px solid white;
  color: white;
  background: rgba(0, 0, 0, 0.4);

  &__short {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // grid-template-rows: 1fr;
  }

  &__element {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }

  &__text {
    text-align: center;
  }
}

.members {
  margin-top: 10rem;
  margin-bottom: 10rem;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 3rem;
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 6rem;
    color: $white;
  }

  &__member {
    margin: 2rem;
    margin-bottom: 5rem;
    width: 100%;
    width: 46%;
    border: 1px solid $border-color;
    border-radius: 2rem;

    p {
      color: white;
      padding: 2rem;
    }

    img {
      border-bottom: 1px solid $border-color;
      width: 100%;
      height: 80%;
      border-radius: 2rem;
    }
  }
}

.fa-leaf {
  color: rgb(28, 238, 28);
}

.fa-pepper-hot {
  color: rgb(230, 36, 36);
}

.fa-fish {
  color: rgb(83, 124, 245);
}

.menu {
  margin-top: 10rem;
  margin-bottom: 10rem;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.4);

  .shopping-cart {
    padding: 2rem 1rem;
    position: fixed;
    bottom: 1.6rem;
    right: 1.6rem;
    width: 16rem;
    height: 6.5rem;
    color: $white;
    background-color: $brown;
    border: 1px solid $white;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bolder;
    z-index: 1;
    border-radius: 5rem;
    cursor: pointer;
    transition: 0.1s;

    .counter-container {
      width: 3.5rem;
      height: 3.5rem;
      top: -1rem;
      right: -1rem;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $brown;
      border: 1px solid $white;
      border-radius: 50%;
    }

    .counter {
      text-transform: lowercase;
      font-weight: normal;
      font-size: 2rem;
      color: $creamy;

    }
  }

  .shopping-cart:hover {
    border: 1px solid $white;
    background-color: $creamy;
    color: $brown;
  }

  .modal {
    position: fixed;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    top: 0;
    top: -600px;
    left: 50%;
    width: 500px;
    height: auto;
    background-color: white;
    border: 1px solid black;
    z-index: 101;
    transition: top 0.8s;

    transform: translateX(-50%);
    background-color: $popup2;
    color: white;
  }

  .show-modal {
    top: 150px;
  }

  .close-btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .close-btn {
    position: relative;
    right: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    transition: 0.3s;
  }

  .products-list {
    .product-name {
      margin: 1rem 0;
      font-weight: bold;
      font-size: 2.5rem;
      color: #ddd;
    }
  }

  .close-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .el-name {
    font-weight: bold;
    font-size: 3.5rem;
    color: #ddd;
  }

  .line {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding-left: 100px;
    width: 100%;
    border-top: 1px solid rgb(236, 237, 238);
    margin: 22px 0px 0px;
    padding: 22px 0px 0px;
  }

  .modal-pizza {}

  .category-name {
    padding: 1rem 0;
    // margin: 1rem 0;
    font-size: 2.2rem;
    font-weight: bold;
  }

  .inputs {
    display: flex;
    margin: 2rem 0;

    input {
      margin: 0 1rem;
      width: 1.8rem;
      height: 1.8rem;
      cursor: pointer;
    }

    input:first-of-type {
      margin-left: 0;
    }
  }

  .last {
    margin-bottom: 2rem;
  }

  .add-item-btn-container {
    display: flex;
    justify-content: flex-end;
  }

  .btn {
    min-width: 17.7rem;
    min-height: 5rem;
    max-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    background-color: $brown;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
    font-size: 1.4rem;
    transition: color 0.1s, background-color 0.1s;
    cursor: pointer;
  }

  .btn:hover {
    color: #724e2b;
    background-color: #ddd;
  }

  .modal-sauce {}

  .modal-drinks {}

  // .modal-general {
  //   transform: translateX(-50%);
  //   background-color: red;
  // }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
  }



  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: "Caveat", cursive;
    font-size: 6rem;
    color: $white;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4rem 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-color;
    border-radius: 5rem;

    a {
      font-size: 4rem;
      font-weight: bold;
      font-family: "Caveat", cursive;
      color: $white;
      transition: color 300ms;
      cursor: pointer;
    }

    a:hover {
      color: $special-cream;
    }
  }

  .element {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__list {
      margin: 2rem;
      border-bottom: 1px solid $border-color;
      border-radius: 2rem;
      height: 10%;
      padding: 1%;
      display: flex;
      justify-content: space-between;
    }

    &__list:last-child {
      margin-bottom: 5rem;
    }

    &__name {
      width: 50rem;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      p {
        font-weight: bold;
        font-size: 2.5rem;
        color: #ddd;
      }
    }

    &__components {
      p {
        width: 100%;
        padding-top: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #e9c19c;
      }
    }



    &__prices {
      height: auto;
      display: flex;
      align-items: center;

      p {
        padding: 1rem;
        font-size: 2rem;
        color: #ddd;
      }
    }

    &__btn {
      min-width: 17.7rem;
      min-height: 5rem;
      max-height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      border: 1px solid black;
      background-color: $brown;
      color: $white;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 1rem;
      font-size: 1.4rem;
      transition: color 0.1s, background-color 0.1s;
      cursor: pointer;
    }

    &__btn:hover {
      color: #724e2b;
      background-color: #ddd;
    }
  }

  .drinks {

    &__prices {
      flex-direction: column;
    }
  }

  // .sauce {}

  // .promotion {}

  // .drinks {}

  .not-visible {
    display: none;
  }
}

.contact {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid $white;

  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-family: "Caveat", cursive;
    font-size: 6rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__map {
    margin: 5rem;
    width: 100%;
    height: 80vh;
  }

  &__info {
    margin-left: 0;
    margin: 5rem;
    width: 100%;

    &-el {
      margin: 5rem 0;
      padding: 1.5rem 3rem;
      width: 100%;
      height: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid $border-color;
      border-radius: 5rem;
      font-size: 2rem;

      p {
        color: $white;
      }
    }

    &-social {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      a {
        font-size: 5rem;
        color: $white;
        transition: color 0.1s;
      }

      a:hover {
        color: $creamy;
      }
    }
  }
}

.form {
  position: relative;
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;

  &__container {
    max-width: 70rem;
    padding: 2em;
    border: 1px solid $white;
    background: rgba(0, 0, 0, 0.4);
  }

  &__heading {
    text-align: center;
    font-family: "Caveat", cursive;
    text-transform: lowercase;
    font-size: 6rem;
  }

  &__heading::first-letter {
    text-transform: uppercase
  }

  &__text {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.7rem;
  }

  &__inputs-textarea-container {
    width: 100%;
    display: flex;
    padding-bottom: 2rem;
  }

  &__inputs {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__textarea {
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    span {
      color: $special-cream;
    }
  }

  .popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -250px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $popup;
    width: 60rem;
    height: 20rem;
    border: 0.8rem;
    border: 2px solid black;
    border-radius: 1rem;
    transition: top 0.5s;

    p {
      font-size: 2.5rem;
    }

    button {
      margin-top: 5rem;
      min-width: 17.7rem;
      min-height: 5rem;
      max-height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      border: 1px solid black;
      background-color: $brown;
      color: $white;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 1rem;
      font-size: 1.4rem;
      transition: color 0.1s, background-color 0.1s;
      cursor: pointer;
    }

    button:hover {
      color: #724e2b;
      background-color: #ddd;
    }
  }

  .show-popup {
    top: 250px;
  }

  .form__textarea.row {
    align-items: stretch;
  }

  .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .label {
      font-size: 1.2rem;
      min-width: 30rem;
      width: 100%;
      font-weight: bold;
    }

    .input,
    .select {
      padding: 1rem;
      width: 100%;
      min-width: 30rem;
      height: 45px;
      border-radius: 0.5rem;
    }
  }

  textarea {
    padding: 1rem;
    resize: none;
    border-radius: 0.5rem;
  }

  .row.error input,
  .new-el.error input,
  .row.error select,
  .form__textarea.error textarea {
    border: 1px solid rgb(237, 34, 34);
  }

  .row .error-text,
  .new-el .error-text,
  .form__textarea .error-text,
  .form__contact-checkbox--container .error-text {
    margin-top: 0.3rem;
    font-size: 1.3rem;
    font-style: italic;
    color: $error;
    visibility: hidden;
  }

  .row.error .error-text,
  .new-el.error .error-text,
  .form__textarea.error .error-text,
  .form__contact-checkbox--container.error .error-text {
    visibility: visible;
  }

  &__attachment {
    width: 100%;
    height: 100%;
    margin: 5% 0;

    p {
      padding-bottom: 1rem;
      font-size: 1.8rem;
    }

    div {
      font-weight: normal;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 230px;
      height: 50px;
      border: 1px solid #ddd;
      border-radius: 2rem;
      color: $special-cream;
      transition: background 0.1s, color 0.1s;
      cursor: pointer;

      p {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
      }

      input {
        display: none;
      }
    }

    div:hover {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  &__contact {
    width: 100%;
    height: auto;
    padding-top: 4%;

    .p-above {
      font-size: 20px;
      padding-bottom: 10px;
    }

    &-checkbox {
      &--container {

        .old-label {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        .new-phone,
        .new-email {
          display: none;
          margin-left: 3rem;
          width: 50%;
        }

        .show-container {
          display: block;
        }

        .old-input {
          display: inline-block;
          width: 2rem;
          height: 2rem;
          margin: 0.5rem;
          cursor: pointer;
        }

        .new-label {
          min-width: 30rem;
          width: 100%;
          text-transform: uppercase;
          padding-left: 0.3rem;
          font-size: 1.05rem;
          font-weight: bold;
        }

        .new-input {
          padding: 1rem;
          width: 100%;
          min-width: 30rem;
          height: 45px;
          border-radius: 0.5rem;
        }
      }
    }
  }



  &__btn {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;



    &-inside {
      position: relative;
      width: 32rem;
      height: 4.4rem;
      ;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      border: 1px solid black;
      background-color: $brown;
      color: $white;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 1rem;
      transition: color 0.3s, background-color 0.3s;
      cursor: pointer;
    }

    &-inside:hover {
      background-color: $white;
      color: $brown;
    }
  }

  &__text-below {
    display: flex;
    margin-top: 35px;

    div {
      padding-right: 20px;

      i {
        font-size: 30px;
        color: white;
      }
    }
  }
}

input:placeholder-shown {
  font-style: italic; // makes placeholder italics in input
  font-size: 1.6rem;
  padding-left: 1rem;
}

.footer {
  width: 100%;
  height: 45rem;
  border: 1px solid $white;
  background-color: #b89b7e;

  &__main {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    color: rgb(45, 42, 37);
    font-weight: bolder;
  }

  &__element {
    display: flex;
    padding: 0 1.4rem;
    margin-bottom: 3.2rem;
    font-size: 1.6rem;
  }

  &__logo {
    font-size: 7rem;
    font-family: "Caveat", cursive;
    font-weight: normal;
    color: rgb(241, 189, 82);
  }

  &__contact {
    flex-direction: column;

    p:nth-of-type(2) {
      margin-bottom: 1rem;
      margin-left: 0;
    }
  }

  &__social {
    flex-direction: column;

    a {
      font-size: 5rem;
      color: $white;
      transition: color 0.1s;
    }

    a:hover {
      color: $creamy;
    }

    div {
      a {
        margin: 0.5rem;
      }
    }
  }

  &__payment {
    flex-direction: column;

    p {
      margin-bottom: 2rem;
    }
  }

  &__btn {
    width: 100%;
    height: 4.5rem;
    padding: 2rem 4rem;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    border: 1px solid black;
    background-color: $brown;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
  }


  &__btn:hover {
    background-color: $white;
    color: $brown;
  }



  &__small {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid $white;
  }

}

@import "./large.scss";
@import "./medium.scss";
@import "./small.scss";