// importy nie daje 'as *' bo nie ma w nim zmiennych
// @import './header.scss';
// @import './footer.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: #724e2b;
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.bcg-img {
	width: 100%;
	height: 100%;
	background-image: url("../img/img_bcg.png");
	background-repeat: space space;
}

//  HEADER 
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    .img-logo {
        margin-top: 0.3%;
        width: 13%;
    }
}
header, footer {
        width: 100%;
        height: 100px;
        color: white;
        background-color: #BFA182;
        color: black;
        border: 0.4px solid rgb(236, 237, 238);
        
        .footer-symbols {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        text-align: center;
        width: 100%;
        height: 40px;
        font-size: 25px;
        border: 0.4px solid rgb(236, 237, 238);
    }

    i,p {
        display: inline-block;
        cursor: pointer;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .navigation {
        width: 100%;
        .nav {
            width: 100%;
            height: 40px;
            text-align: right;
            line-height: auto;
    
            .nav-items {
                padding: 0 20px;
                line-height: 60px;
                font-weight: bold;
                text-align: right;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: black;
                transition: 100ms;
            }
    
            .nav-items:hover {
                color: #ffcc80;
            }   
        }
    }
}

// FOOTER

.footer {
	// position: relative;
	// bottom: 0;
	width: 100%;
	height: 60px;
	display: flex;
	cursor: default;
	.footer-elements {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		.footer-logo {
			width: 25%;
			img {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 40px;
				width: auto;
				// padding-left: 0;
			}
		}
		.footer-text {
			width: 65%;
		}
		.footer-social {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 10%;
			font-size: 35px;
			padding-left: 0px;
		}
	}
}