@media (max-width: 767px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    width: 100vw;
    // height: auto;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #b89b7e;
    border: 1px solid white;

    &__item {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      // margin: 0.4em 2em;
      // padding: 0.2em 1em;
      font-size: 1.8rem;
      z-index: 1001;
    }

    .logo {
      position: absolute;
      right: 12rem;
    }

    .burger-icon {
      // position: absolute;
      padding: 10px 20px;
      transition: transform .3s;
    }

    &__anchors {
      // padding: 30px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      // width: 400px;
      // transform: translateX(-40%);
      transition: transform 0.3s;
    }



    .burger-icon {
      // display: none;
      font-size: 5rem;
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  nav div ul {
    padding-top: 50px;
    position: absolute;
    height: 100vh;
    width: 250px;
    left: -251px;
    list-style: none;
    background-color: #ffcc80;
    border: 1px solid white;
    border-top: none;
    transition: transform 0.3s;
    z-index: 11000;
  }

  nav ul li a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
  }

  li {
    padding: 3rem;
  }

  .active-menu {
    transform: translateX(249px);
  }

  .hide {
    display: none;
  }

  .header {
    &__video {
      display: none;
    }

    &__img {
      display: block;
      border: 0.4px solid white;
    }

    &__text-container {
      width: 38rem;
      margin-left: 2rem;
      border-radius: 1rem;
      background: rgba(0, 0, 0, 0.6);
      border: 0.4px solid white;
    }

    &__heading {
      margin-left: 2rem;
      margin-top: 1rem;
      font-size: 3.75rem;
    }

    &__text {
      width: 90%;
      margin-left: 2rem;
      padding: 1rem 0;
      font-size: 2.2rem;
    }

    &__link {
      margin: 2rem 0;
      margin-left: 2rem;
    }
  }

  // slider
  .slider {
    border: none;
    background: none;
    &__slides {
      img {
        width: calc(100% / 2);
      }
    }

    i:first-child {
      left: 0;
    }
  
    i:last-child {
      right: 0;
    }
  }




}